*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    display: flex;
    flex-direction: column;
    cursor: default;
}

ul {
    list-style: none;
}
li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2 {
    margin-bottom: 15px;
    letter-spacing: 1.2px;
}

h1 {
    font-size: 25px;
    font-weight: normal;
}

h2 {
    font-size: 20px;
    font-weight: normal;
}