// Header

header,
.navbar {
    background-color: $bg_black;
}
// Navbar
.navbar {
    width: 90%;
    margin: 0 auto;
    .top,
    .bottom {
        color: white;
        padding: 10px 0;
    }
    // Topbar
    .top {
        align-self: flex-end;
        ul {
            flex-basis: 100%;
            justify-content: space-around;
        }
        li {
            padding-right: 20px;
            color: $color-navbar;
            font-size: $small;
            i {
                color: $color-icon;
                margin-right: 5px;
            }
            &:hover{
                color: white;
                cursor: pointer;
            }
        }
        select {
            width: 100px;
        }
    }
    //Bottom bar
    .bottom {
        ul {
            align-items: center;
        }
        li {
            font-size: 14px;
            flex-basis: calc(100 / 9 - 10px);
        }
        a.logo  {
            display: inline-block;
            max-width: 100px;
        }
        i {
            font-size: 9px;
            color: $color-navbar;
            margin-left: 5px;
        }
    }

}
// Jumbotron
.jumbotron {
    background-image: url("../../img/jumbotron-bg.jpg");
    height: 463px;
    background-position: top;
    background-repeat: no-repeat;
    .container {
        justify-content: space-around;
        // Col left
        .col-left {
            flex-basis: 20%;
            height: 463px;
        }
        .artist {
            font-size: $small;
            color: white;
            position: absolute;
            bottom: 5px;
        }
        //col center
        .col-center {
            flex-basis: 40%;
        }
        .title{
            color: white;
            padding-top: 40px;
            padding-left: 20px;
        }
        li {
            display: block;
            margin-top: 10px;
        }
        i {
            color: $color-navbar;
            
        }
        .download {
            margin-top: 30px;
            display: flex;
            &::after{
                content: '';
                height: 50px;
                width: 2px;
                background-color: white;
                margin-left: 10px;
            }
            i {
                position: absolute;
                right: 8px;
                top:20px;
                font-size: 25px;
                color: white;
            }
        }
        .text {
            p {
                text-transform: uppercase;
            }
        }
        // col right
        .col-right {
            flex-basis: 40%;
            height: 463px;
            .buy {
                height: calc(100% - 25px);
                background-color: black;
                margin-top: 25px;
            }
        }
        
    }
}