// MAIN

main{
    // Navbar
    .nav {
        background-color: $bg_nav;
    }
    ul.container {
        @include container;
        background-color: $bg_nav;
    }
    li  {
        flex-basis: 10%;
        text-align: center;
        color: $color-menu;
        a {
            display: inline-block;
            width: 100%;
            padding: 20px 0;
            &:hover{
                background-color: #eee;
            }
            &:focus  {
                background-color: #eee;
                color: black;
                border-bottom: 2px solid black;
            }
        }
        
    }
    .video-container {
        width: 100%;
        // height: 700px;
        background-image: url('../../img/bg-1.jpg');
        background-position: top;
        background-size: cover;
        .text{
            width: 50%;
            margin: 0 auto;
            padding-top: 50px;
            color: white;
            text-align: center;
            h2 {
                font-size: 32px;
            }
            .pdf {
                line-height: 1.8;
                margin-top: 20px;
                cursor: pointer;
                &:before {
                content: '';
                display: inline-block;
                height: 50px;
                width: 50px;
                background-image: url('../../img/pdf.png');
                background-size: cover;
                vertical-align: middle;
                margin-right: 15px;
            }
            }
            
        }
        .video-play {     
            height: 457px;
            width: 800px;
            margin: 25px auto 0;
            background-image: url('../../img/bg-2.jpg');
            background-size: cover;
            border-radius: 20px;   
        }
    }
    
}