// Utilities 

.w-100 {
    width: 100%;
}

.relative {
    position: relative;
}

.uppercase{
    text-transform: uppercase;
}

.img100{
    width: 100%;
}

.pd-t50 {
    padding-top: 50px;
}

// Containers

@mixin container {
    width: 90%;
    margin: 0 auto;
}

.break-space { 
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

// Bottons

.btn {
    color: white;
    background-color: #666666;
    width: 220px;
    padding: 10px;
    cursor: pointer;
    &:hover{
        opacity: 0.75;
    }
}

.btn-buy {
    width: 150px;
    background-color: $color-action-1;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    &:hover {
        opacity: 1;
        background-color: rgb(40, 172, 255);
    }
}

// Template text

.text{
    width: 70%;
    margin: 0 auto;     
    text-align: center;
    padding-top: 50px;
    h2 {
        font-size: 32px;
    }
    p {
        line-height: 1.8;
    }
}   