// Utilities 

.w-100 {
    width: 100%;
}

.relative {
    position: relative;
}

.uppercase{
    text-transform: uppercase;
}

// Containers

@mixin container {
    width: 90%;
    margin: 0 auto;
}

// Bottons

.btn {
    color: white;
    background-color: #666666;
    width: 200px;
    padding: 10px;
    cursor: pointer;
}

.btn-buy {
    width: 150px;
    background-color: $color-action-1;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}