// Utilities 

.w-100 {
    width: 100%;
}

.relative {
    position: relative;
}

// Containers

.container {
    width: 90%;
    margin: 0 auto;
}

// Bottons

.btn {
    color: white;
    background-color: #666666;
    width: 200px;
    padding: 10px;
    cursor: pointer;
}