// Colors bg

$bg_black: #101010;
$bg_grey: #222222;
$bg_nav: #e6e6e6;
$bg_footer: #1e1e1e;

// Color Action

$color-action-1: #009cff;
$color-action-2: rgb(152, 152, 152);

// Color 

$color-menu: rgb(85, 85, 85);

// Font
$small: 12px;